BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
InsertNewlineAtEOF: true

BreakBeforeBraces: Attach

# Добавлять фигурные скобки для if/for/while и т.п.
InsertBraces: true

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
